Body{
padding-bottom: 10px;
}

.logo{
     display: flex;
     justify-content: space-between;
     width: 60px;
     height:120px;
     max-width: 100%;
     max-height: auto;
     margin-left:10px;
}

.food{
text-align: center;
padding-bottom :3rem;
}

h1{
  padding-top: 3em;
  color: #08090a;
  font-family: "inter";
  font-size: 54px;
  font-style: bold;
  text-align: center;
  padding-bottom: 1em;
}

#order_h1{
    color:#35b8be ;
}

.text{
    font-family: "inter";
    color:#08090a;
    font-size: 28px;
    font-style: light;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 20px;
}

.hero-image{
    width: 20px;
    height: 30px;
}

 .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 30px;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #35b8be;
    margin-bottom: 3rem;
    }
  
.foodies{
    text-align: center;
    padding-bottom :3rem;
    background-color:#f5fbfc;
}  

h2{
    padding-top: 3em;
    color: #08090a;
    font-family: "inter";
    font-size: 54px;
    font-style: bold;
    text-align: center;
    margin-bottom: 1rem;
  }

  .text{
    font-family: "inter";
    color:#08090a;
    font-size: 28px;
    font-style: light;
    text-align: center;
    margin-bottom: 20px;
    margin-left: -5px;
}

.eat{
    width: 300px;
    height: 380px;
}

.articles{
    text-align: left;
    padding-bottom :3rem;
}

#art{
    
    color: #35b8be !important;
    font-family: "inter";
    font-size: 54px;
    font-style: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.h3{
    padding-top: 3em;
    color: #08090a;
    font-family: "inter";
    font-size: 28px;
    font-style: bold;
    text-align: left;

}


.title{
    height: 40px;
    
    width: 150px;
    line-height: 40px;
    text-align: center;
    background-color: #35b8be;
}
.plate{
    width: 380px;
    height: 300px;
    float: left;
    clear:both;
}

.mobile{
    width: 380px;
    height: 300px;
    float: center;
    clear:both;
}
.home{
    width: 380px;
    height: 300px;
    float: right;
    clear:both;
}
